.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}

.custom-nav .custom-nav-item a {
  color: #fff !important;
}

.custom-nav-item:hover {
  background-color: #dc3545;
  border: solid #dc3545 1px;
  border-radius: 10px;
}

.remove-vid-marg {
  margin-top: 80px; /* Adjust based on your header height */
  padding: 0px;
}

.vid-parent {
  position: relative;
}
video {
  width: 100%;
  height: auto;
}
.vid-overlay {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #225470;
  z-index: 1;
  opacity: 0.8;
}

.vid-content {
  color: #fff;
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center both ways */
  z-index: 2;
  text-align: center;
}

.bottom-banner {
  color: #fff;
  padding: 10px;
}

.bottom-banner:first-child {
  padding-left: 50px;
}

a.social-hover:hover {
  padding: 5px 100px;
  text-decoration: none;
  background-color: rgb(95, 93, 93);
}

.stripe {
  background-image: linear-gradient(240deg, #ed213a, #93291e);
  padding: 3rem;
  height: 13rem;
  margin-top: 4rem;
  transform: rotate(10deg);
  z-index: -5;
}

@media screen and (min-width: 0px) and (max-width: 700px) {
  /* Remove display: none for .my-content to make it visible */
  .my-content {
    display: block; /* Ensure it's visible */
    font-size: 1.2em; /* Reduce font size */
    text-align: center; /* Center align text */
  }
  
  /* Adjust .vid-content positioning to better fit smaller screens */
  .vid-content {
    top: 25%; 
    left: 38%;
    transform: translateX(-50%);
  }
  
  /* Style the button */
  .btn {
    font-size: 0.9em; /* Make button text smaller */ /* Adjust padding for smaller screens */
    display: inline-block;
    text-align: center;
  }

  /* Navigation styling */
  .custom-nav .custom-nav-item a {
    padding: 10px 20px;
    background-color: #225470;
  }

  .custom-nav-item:hover {
    background-color: transparent; /* Set to transparent instead of 'none' */
    border: none;
    border-radius: 0; /* Set to 0 instead of 'none' */
  }
}


@media screen and (min-width: 570px) and (max-width: 822px) {
  .container, .row, .col, .content, .main-content {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
  }
}
